commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/clear.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/python/current/env
      export EB_CONFIG_APP_CURRENT=/opt/python/current/app/
      export EB_CONFIG_APP_USER=wsgi
      cd $EB_CONFIG_APP_CURRENT
      rm -rf static/upload/*
