/* Move down content because we have a fixed navbar that is 50px tall */
/*body {*/
    /*padding-top: 50px;*/
    /*font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
/*}*/
body,
html {
    width: 100%;
    height: 100%;
    /*padding-top: 25px;*/
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}


/*.detection_header {*/



/* Navbar navigation */

.navbar-inverse {
    background-color: #7db1f5;
    /*opacity: 0.7;*/
}

.navbar-inverse .navbar-brand {
    color: #d7e7ff;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #d7e7ff;
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 15px;
}

.navbar-active {
    background-color: #55adeb;
}

.navbar-fixed-top {
    border: 0;
}

/*.sidebar {*/
    /*display: none;*/
/*}*/

/*@media (min-width: 768px) {*/
  /*.sidebar {*/
    /*position: fixed;*/
    /*top: 51px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*z-index: 1000;*/
    /*display: block;*/
    /*padding: 20px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
    /*background-color: #f5f5f5;*/
    /*border-right: 1px solid #eee;*/
  /*}*/
/*}*/

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #d7e7ff;
    background-color: #6b92d6;
}

/*!* Sidebar navigation *!*/
/*.nav-sidebar {*/
    /*margin-right: -21px; !* 20px padding + 1px border *!*/
    /*margin-bottom: 20px;*/
    /*margin-left: -20px;*/
/*}*/
/*.nav-sidebar > li > a {*/
    /*padding-right: 20px;*/
    /*padding-left: 20px;*/
    /*font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
/*}*/
/*.nav-sidebar > .active > a,*/
/*.nav-sidebar > .active > a:hover,*/
/*.nav-sidebar > .active > a:focus {*/
    /*color: #fff;*/
    /*background-color: #264899;*/
/*}*/

.background {
    min-height: 100vh;
    background-image: url("../image/header.min.jpg");
    background-size: cover;
    /*background-size: 100% 100%;*/
    position: relative;
    background-attachment: fixed;
}
.content{
    background-color: rgba(255,255,255,0.88);
    min-height: 100vh;
}

.file-size-info, .file-caption-info{
    color: #0a0a0e;
    font-size: 12px;
    height: 17px;
}

.img-thumbnail{
    min-height: 350px;
    opacity: 0.65;
}

footer{
    padding: 5px;
}