<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Airbus Ship Detection</title>
        <link rel="icon" sizes="256x256" href="{{ url_for('static', filename='image/icon.png') }}">

        {% block css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css?20181210') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/fileinput.min.css') }}">
        {% endblock %}
    </head>

    <body>
    <div class="background">
    <div class="content">
            <div class="container-fluid">
            <div class="row">
            {% include "common/header.html" %}

{#                {% include "common/sidebar.html" %}#}
                {% block error %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include "common/footer.html" %}

        {% block js %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/fileinput.min.js') }}"></script>
        {% endblock %}
</div>
    </div>
    <script>
     $('.navbar').find('a').each(function () {
            if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
                $(this).parent().addClass('active'); // this.className = 'active';
            }
        });
    </script>

    </body>

</html>

