{% extends "base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-sm-6 placeholder col-sm-push-6{{ '' if filename else ' hidden-xs' }}" style="padding-top: 20px">
            <h2 style="font-size: 20px; color: #428bca">Detection Result <span id="ships-count"></span></h2>
            {% if filename %}
            <p>This is the detection result of the image you uploaded. Red bounding box on the image indicates a ship. If there is no box shown, there is no ship detected.</p>
            {% if output_json %}
            <div class="text-muted"><label><input type="checkbox" id="toggle_bounding" name="toggle_bounding" checked> Toggle results</label></div>
            {% endif %}
            <div id="original_img_div" style="position: relative;">
                <img class="image-responsive img-thumbnail" src="{{ url_for('get_img_uploaded', filename=filename) }}" id="original_img" style="width: 100%;">
                <div id="original_img_bboxes" style="margin: 4px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;"></div>
            </div>
            {% else %}
            <img class="image-responsive img-thumbnail" src="{{ url_for('static', filename='image/input-holder.png') }}" style="width: 100%;">
            {% endif %}
        </div>
        <div class="col-sm-6 col-sm-pull-6 placeholder" style="padding-top: 20px; padding-left: 30px">
            <h2 style="font-size: 20px; color: #428bca">Upload Image</h2>
{#          <a class="detection_header">Upload Image</a>#}
            <p>Please upload your image here (supported extension: jpg, png, jpeg).</p>
            <form class="form-inline" role="form" action="/upload" method="post" enctype="multipart/form-data">
                <div class="form-group" style="padding-left: 10px">
                    <input type="file" name="file" class="file" accept="*.jpg, *.png, *.jpeg" data-allowed-file-extensions="jpg, png, jpeg" required
                        data-show-caption="false" data-browse-class="btn btn-default btn-secondary" data-upload-class="btn btn-primary">
                </div>
{#                <div class="form-group" style="padding-left: 10px">#}
{#                    <button type="submit" class="btn btn-sm btn-success" style="padding-left: 10px">Upload</button>#}
{#                </div>#}
            </form>
        </div>
    </div>
</div>
<script>
var output_json = {{ output_json | default('{}') | safe }};
function toggle_bounding(){
    var tb = document.getElementById("toggle_bounding"), oi = document.getElementById("original_img"), bboxes = document.getElementById("original_img_bboxes");
    if(output_json && output_json['regions'] && bboxes){
        var size = output_json['size'];
        var innerHTML = "";
        if(tb && tb.checked){
            for(var i in output_json['regions']){
                var region = output_json['regions'][i];
                var top = region[0]/size[0], height = (region[2]-region[0])/size[0], left = region[1]/size[1], width = (region[3]-region[1])/size[1];
                top = Math.round(top*100000)/1000;
                height = Math.round(height*100000)/1000;
                left = Math.round(left*100000)/1000;
                width = Math.round(width*100000)/1000;
                innerHTML += '<div class="bbox" style="top: '+top+'%;left: '+left+'%;height: '+height+'%;width: '+width+'%;"></div>';
            }
        }
        bboxes.innerHTML = innerHTML;
    }
}
document.getElementById("toggle_bounding").addEventListener("click", toggle_bounding);
toggle_bounding();
document.getElementById('ships-count').innerHTML = '('+(output_json['regions'].length || 0)+' ships)';
</script>
<style>
.bbox{border: 2px solid red; position: absolute;}
.bbox:hover{border-color: blue;}
</style>
{% endblock %}